<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "vehicle/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Acerca de Nosotros !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hola estimado cliente</h1>
    <p class="lead">Una verdadera solución a los problemas del vehículo.</p>
    <hr class="my-4">
    <p>Explore nuestro sitio web.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">INICIO</a>
    </p>
  </div>
  <marquee behavior="scroll" direction="left">
    <img src="{% static "images/suzuki.png" %}" width="120" height="80" alt="suzuki" />
    <img src="{% static "images/greatwall.png" %}" width="120" height="80" alt="greatwall" />
    <img src="{% static "images/mazda.png" %}" width="120" height="80" alt="mazda" />
    <img src="{% static "images/nissan.png" %}" width="120" height="80" alt="nissan" />
    <img src="{% static "images/ford.png" %}" width="120" height="80" alt="ford" />
    <img src="{% static "images/honda.png" %}" width="120" height="80" alt="honda" />
    <img src="{% static "images/jac.png" %}" width="120" height="80" alt="jac" />
    <img src="{% static "images/toyota.png" %}" width="120" height="80" alt="toyota" />
    <img src="{% static "images/vw.png" %}" width="120" height="80" alt="vw" />
    <img src="{% static "images/higer.png" %}" width="120" height="80" alt="higer" />
    <img src="{% static "images/lada.png" %}" width="120" height="80" alt="lada" />
    <img src="{% static "images/fiat.png" %}" width="120" height="80" alt="fiat" />
    <img src="{% static "images/mit.png" %}" width="120" height="80" alt="mit" />
    <img src="{% static "images/usm.png" %}" width="120" height="80" alt="usm" />
    <img src="{% static "images/zna.png" %}" width="120" height="80" alt="zna" />
    <img src="{% static "images/foton.png" %}" width="120" height="80" alt="foton" />
    <img src="{% static "images/zon.png" %}" width="150" height="80" alt="zon" />
    <img src="{% static "images/mack.png" %}" width="120" height="80" alt="mack" />
 </marquee>
  {% include "vehicle/footer.html" %}
</body>

</html>
